{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ vpncredential.name|default:_("None") }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ vpncredential.description|default:_("None") }}</dd>

    <dt>{% trans "ID" %}</dt>
    <dd>{{ vpncredential.id }}</dd>

    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ vpncredential.tenant_id }}</dd>

    <dt>{% trans "CA" %}</dt>
    <dd>{{ vpncredential.ca }}</dd>

    <dt>{% trans "Server Certificate" %}</dt>
    <dd>{{ vpncredential.server_certificate }}</dd>

    <dt>{% trans "Server Key" %}</dt>
    <dd>{{ vpncredential.server_key }}</dd>

    <dt>{% trans "DH" %}</dt>
    <dd>{{ vpncredential.dh }}</dd>

    <dt>{% trans "Client Certificate" %}</dt>
    <dd>{{ vpncredential.client_certificate }}</dd>

    <dt>{% trans "Client Key" %}</dt>
    <dd>{{ vpncredential.client_key }}</dd>
  </dl>
</div>
