
        <div class="form-group">
        <label class="col-sm-2 control-label">手机</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" id="inputVal" placeholder="手机" data-toggle="popover" data-html="true" data-trigger="hover" value="{%if user%} {{ user.email }} {% endif%}">
         <span id="inputValError" class="error sr-only">
         </div>
      </div>

        <div class="form-group">
         <label class="col-sm-2 control-label">验证码</label>
         <div class="col-sm-10">
         <div class='set-yzm'>
           <input type="text" class="form-control yzm col-sm-5" id="yzm" placeholder="验证码">
           <a href="javascript:void(0);" id="checkCode" class="form-control  col-sm-5 unchanged pull-right code">
           <img src="{{homeURl}}member/createCode/?id=1" onclick="this.src=this.src+'1'">
           </a>
         <span id="yzmError" class="error sr-only"></div>
         </div>
         </div>
      </div>

       <div class="form-group">
         <label class="col-sm-2 control-label"></label>
         <div class="col-sm-10">
         <button type="button" class="btn btn-default pull-left col-sm-5 next" id="goto_step_two">下一步</button>
         </div>
      </div>
     
      
      























