
<script language='javascript'>
var safeToken="{{safeCard}}"
</script>

    <div class="form-group breadItem" id="mobileBread">
             <label class="col-sm-2 control-label"></label>
             <div class="col-sm-10">
               <ul class="line-content">
                 <li class="pull-left text-left">
               <a class="btn btn-circle yellow pull-left" id='bread1'>1</a>
               <span id="text">确认账号</span>
                <s class="line_bg"></s>
               </li>
                 <li class="pull-left text-center"><a class="btn  btn-circle"  id='bread2'>2</a>
                 <span id="text">验证</span>
                 <s class="line_bg"></s>
               </li>
                 <li class="pull-left">
                <a class="btn  btn-circle pull-right" id='bread3'>3</a>
                 <span id="text" class="text-right">重置密码</span>
                 <s class="line_bg"></s>
               </li>
               </ul>
            </div>
         </div>
         
         
         <div class="form-group breadItem" id="emailBread">
             <label class="col-sm-2 control-label"></label>
             <div class="col-sm-10">
               <ul class="line-content">
                 <li class="pull-left text-left">
               <a class="btn btn-circle yellow pull-left" id='bread1'>1</a>
               <span id="text">确认账号</span>
                <s class="line_bg"></s>
               </li>
                 <li class="pull-left text-center">
                
                 <span id="text"></span>
                 <s class="line_bg"></s>
               </li>
                 <li class="pull-left">
                <a class="btn  btn-circle pull-right" id='bread2'>2</a>
                 <span id="text" class="text-right">发送邮件</span>
                 <s class="line_bg"></s>
               </li>
               </ul>
            </div>
         </div>
         

