
      
      <!-- 第三步 手机找回密码-->
        <div class="form-group">
        <label class="col-sm-3 control-label">新密码</label>
         <div class="col-sm-9 checkname">
          <input type="password"  name="password" onfocus=checkPassword(this.value);  onkeyup=checkPassword(this.value);  value="{% if form_val %}{{ form_val.password }} {% endif %}" class="form-control" id="password" placeholder="设置你的登录密码" data-toggle="popover" data-html="true" data-trigger="focus|hover|click"  title="" data-content='<ul id="Checklist" class="pwd-checklist">
         <TABLE class="pwd-strength FCK__ShowTableBorders" cellSpacing=0 cellPadding=0 width="100%">
         <TBODY><TR><td class="safe-rank">安全程度：</td><TD class=pwd-strength-box id=pwdLow></TD><TD class=pwd-strength-box id=pwdMed></TD><TD class=pwd-strength-box id=pwdHi></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE><li id="checklist_len"><i class="fa fa-times-circle font-size14"></i>长度为6~14个字符</li><li id="checklist_cha"><i class="fa fa-times-circle font-size14"></i>支持数字,大小写字母和特殊符合</li>
         <li id="checklist_spa"><i class="fa fa-times-circle font-size14"></i>不允许有空格</li></ul>'>
         <span id="passwordError" class="error sr-only"> </span>
         </div>
      </div>
      
              <div class="form-group">
        <label class="col-sm-3 control-label">确认新密码</label>
         <div class="col-sm-9 checkname">
           <input type="password" class="form-control" value="{% if form_val %}{{ form_val.repassword }} {% endif %}" name="repassword"  id="repassword" placeholder="再次输入你的登录密码">
           <span id="repasswordError" class="error sr-only"> </span>
         </div>
      </div>

       <div class="form-group">
         <label class="col-sm-3 control-label"></label>
         <div class="col-sm-9">
         <button type="button" class="btn btn-default pull-left col-sm-5"  id="back-step-two">上一步</button>
         <button type="button" class="btn btn-default pull-right col-sm-5 next"  id="savepwd" >确定</button>
         </div>
      </div>
      <!--隐藏-->
























