{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>带宽默认范围: 1-50M。如需修改，请联系客服人员</p>
{% endblock %}

{% block modal-js %}
  <script type="text/javascript">
    $(function () {
      horizon.modals.get_billing_item();
      $('#id_bandwidth').keyup(function () {
      $(".not_make_sense").hide();
      var router_unit = horizon.modals.billing_item.router_1;
      var bandwidth_unit = horizon.modals.billing_item.bandwidth_1_M;
      var count = $(this).val();
      var hour_fee, month_fee;
      if ("" == count.trim())
      {
         hour_fee = 0.0;
         month_fee = 0.0;
      } else{
        hour_fee = (router_unit + parseInt(count) * bandwidth_unit);
        month_fee = horizon.modals.get_mon_price(hour_fee);
      }
      $(".price #price").text(hour_fee.toFixed(4));
      $(".small-price #mon_price").text(month_fee);
      $("#total_fee").append("<div class='not_make_sense'>路由: " + "<span class='price'>¥"+ router_unit + "</span>"   + "/个/时</div><div  class='not_make_sense'>  带宽: " +  "<span class='price'>" + bandwidth_unit + "</span>" + " 元/M/时</div>")
      });

     $('#id_bandwidth').click(function () {
      $(".not_make_sense").hide();
      var router_unit = horizon.modals.billing_item.router_1;
      var bandwidth_unit = horizon.modals.billing_item.bandwidth_1_M;
      var count = $(this).val();
      var hour_fee, month_fee;
      if ("" == count.trim())
      {
         hour_fee = 0.0;
         month_fee = 0.0;
      } else{
        hour_fee = (router_unit + parseInt(count) * bandwidth_unit);
        month_fee = horizon.modals.get_mon_price(hour_fee);
      }

      $(".price #price").text(hour_fee.toFixed(4));
      $(".small-price #mon_price").text(month_fee);
      $("#total_fee").append("<div class='not_make_sense'>  路由: "+ "<span class='price'> "+ router_unit + "</span>"   + " 元/个/时</div><div  class='not_make_sense'>  带宽: " +  "<span class='price'>" + bandwidth_unit + "</span>" + " 元/M/时</div>")
      });
    });
  </script>
{% endblock %}
