<script>
init();
function init(){
        var url = window.location.pathname;
        real_url="/";
        if (url.split("/")[1] == 'dashboard'){
            real_url = "/dashboard/"
        }
        
var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :

        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :

        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :

        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :

        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
   
       if (!Sys.firefox && !Sys.chrome && !Sys.safari) {
			window.location.href=real_url+"browsers/";
		}
}

</script>
<div class="container user_form">
  <div class="row">
      <div class="col-xs-6  page_left getpwd">
        <div align="left">
        
        <img src="/static/dashboard/img/login_password.png">
        
        
        </div>
      </div>
      <div class="col-xs-6  page_right">
<div class="getpwd_box" data-example-id="form-validation-states-with-icons">
   

   <div class="form-group form-error {%if error%} displayError {% endif%}" >
   
        <div class="bs-example bs-example-bg-classes">
        <p class="bg-danger text-danger"><i class="fa fa-minus-circle"></i>
        {{error }}
        <a href='javascript:void(0);' id="repeatCreadEmail">重新生成</button></a>
        </p>

        </div>
      </div>
   
   
   <div class="form-group {%if user%} displayNone {% endif%}" id="page-subject" >
       <div align="left">
       <img class="logo_horizontal" src="/static/dashboard/img/space.png">
       <span class='page-title'>｜ 重置密码</span>
       </div>
   </div>
        <div id='page-bread' {%if user%}class='displayNone' {% endif%}>
          <div align="left">{% include 'common/_form_getpassword_common.html' %} </div>
        </div>
      
      
       <form class="form-horizontal" action="" method="POST">
       <div id='update-pwd' {%if error%} class='displayNone' {% endif%}>
         <div id="step1" {%if user%}  class='displayNone' {% endif%}>
          	<div align="left">{% include 'common/_form_getpassword_step1.html' %} </div>
         </div> 
         
         	
         <div id="step2">
          	<div align="left">{% include 'common/_form_getpassword_step2.html' %} </div>
         </div> 
          	
          	
         <div id="step3" {%if error%} class='displayNone' {%elif user%} style='display:block'{% endif%}>
          	<div align="left">{% include 'common/_form_getpassword_step3.html' %} </div>
         </div> 
         
         <div id="result">
          	<div align="left">{% include 'common/_form_getpassword_result.html' %} </div>
         </div> 
         
         <!--隐藏-->
           </div>
      </form>


       </div>
      </div>
  </div>
</div> 