<script>
init();
function init(){
        var url = window.location.pathname;
        real_url="/";
        if (url.split("/")[1] == 'dashboard'){
            real_url = "/dashboard/"
        }
        
var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :

        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :

        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :

        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :

        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
   
       if (!Sys.firefox && !Sys.chrome && !Sys.safari) {
			window.location.href=real_url+"browsers/";
		}
}

</script>


<div class="container user_form" >
  <div class="row">
      <div class="col-xs-6  page_left"><img src="/static/dashboard/img/register_image.png"></div>
      <div class="col-xs-6  page_right">
         {% include 'common/_form_register.html' %}
      </div>
  </div>
</div>  



