{% load i18n sizeformat %}
<div>
    <span>{% trans 'Monitoring index'%}</span>
        <span>
            <select id="monitor_type" name="monitor">
                <option value ="flow">{% trans 'Flow Monitoring'%}</option>
                <option value ="io">{% trans 'IO Monitoring'%}</option>
                <option value ="requests">{% trans 'Requests Monitoring'%}</option>
            </select>
        </span>
  <form action="?" method="get" id="admin_date_form" class="form-inline">
    <!-- <h3>{% trans "Select a period of time to query its usage:" %}</h3> -->
      <div class="form-group">
        {{domain_from.as_table}}
       </div>
    <div class="datepicker form-group">
      {% blocktrans with start=form.start %}
      <label>From:</label> {{ start }}{% endblocktrans %}
    </div>
    <div class="datepicker form-group">
      {% blocktrans with end=form.end %}
      <label>To:</label>{{ end }}{% endblocktrans %}
    </div>
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
  </form>
</div>