{% load i18n horizon humanize %}

{% block help_message %}
{% endblock %}

<style type="text/css">
#checkCode img {
    line-height: 1.9;
    margin-top: 12px;
    width: 123px;
    height: 40px;
}
</style>

<div class="right">
  <a href="javascript:void(0);" id="checkCode">
  	<img src="/dashboard/member/createCode/?id=" onclick="this.src=this.src+1">
  </a>
  <h4>{% trans "Description:" %}</h4>
  <p>{% trans "Password changes, enter the user's phone number, get the verification code, and then enter a new password." %}</p>
  <p>{% trans "After the password is set, it can take effect after reboot." %}</p>
</div>

<script type="text/javascript">

    $(function(){

        function get_real_url() {
            var url = window.location.pathname;
            var real_url;
            if (url.split("/")[1] == 'dashboard'){
              real_url = "/dashboard";
            } else {
              real_url = "";
            }
            return real_url;
        }

        function do_msg_for_reset_password(validate, err_message) {
    	   if (!validate) {
    	      $("#id_show_error_msg_for_reset_password").remove();
    	      var err_div = '<div id="id_show_error_msg_for_reset_password" ' +
    	                    'class="alert alert-message alert-danger">' +
    	                    '<button type="button" class="close" ' +
    	                    'data-dismiss="alert">&times;</button>' + 
    	      				'<ul class="errorlist nonfield"><li>' +
    	                    err_message + '</li></ul></div>';
    	      $("#reset_password__reset_password .row").prepend(err_div);
    	   }
    	   return validate;
    	}

    	function check_is_allow_inject_passwd(){
    	    return do_msg_for_reset_password(('True' == $("#id_is_allow_inject_passwd").val()), "该实例不支持重新设置密码！");
    	}

      　　function validate_passwd_rules_for_reset_password(admin_pass) {
          　　var re=/^(?=.*^[a-zA-Z])(?=.*\d)(?=.*[~!@#$%^&*()_+`\-={}:";\'<>?,.\/]).{8,64}$/g;
          　　return re.test(admin_pass);
      　　}

      　　function validate_username_rules_for_reset_password(username) {
        　　  var re=/^[^/\\\[\]":;|<>+=,?*]*$/;
          　　return re.test(username);
    　　　　}

      　　function is_chinese_char(str) {
        　　  var re=/[\u4E00-\u9FA5\uF900-\uFA2D]/;
          　　return re.test(str);
      　　}

      　　function is_fullwidth_char(str) {
        　　  var re=/[\uFF00-\uFFEF]/;
          　　return re.test(str);
      　　}

　　　　　　  function validate_username_for_reset_password(username) {
          　　if (!check_is_allow_inject_passwd()) {
              return true;
          　　}
         　　 return do_msg_for_reset_password((username.length > 0), "请输入实例登陆的用户名！") &&
                 do_msg_for_reset_password((username != 'root' && username != 'Administrator'), "root/Administrator为系统用户，请设置其他用户名！") &&
                 do_msg_for_reset_password(validate_username_rules_for_reset_password(username), "输入用户名无效！，不能包含以下字符:/\\[]\":;|<>+=,?*") &&
                 do_msg_for_reset_password(!is_chinese_char(username) && !is_fullwidth_char(username), "输入用户名无效！不能包含中文字符！");
      　　}

      　　function validate_password_for_reset_password(password, confirm_password) {
          　　if (!check_is_allow_inject_passwd()) {
              return true;
          　　}
          　　return do_msg_for_reset_password((password.length > 0 && confirm_password.length > 0), "请输入密码！") &&
                 do_msg_for_reset_password((password == confirm_password), "两次输入密码不同！") &&
                 do_msg_for_reset_password(validate_passwd_rules_for_reset_password(password), "密码必须以字母开头，8-64位，同时包括字母、数字和符号!");
      　　}

        function valiate_username_and_password() {
            var username = $('#id_username').val();
            var password = $('#id_password').val();
            var confirm_password = $('#id_confirm_password').val();
            return validate_username_for_reset_password(username) &&
                   validate_password_for_reset_password(password, confirm_password);
        }

        function validate_valiate_code(validate_code) {
        	return do_msg_for_reset_password(validate_code.length > 0, "请输入验证码！");
        }

    	function proxy_submit(form) {
    		function _submit() {
    		    if (valiate_username_and_password()){
    			   $(form).submit();
    			}
    		}

            var validate_code = $('#id_validate_code').val();
            validate_code=validate_code.toLocaleLowerCase();

            if (!validate_valiate_code(validate_code)) {
                return;
            }
            var param_url = "/member/checkCode/?code="+validate_code;
	    	$.get(get_real_url() + param_url, function(data){
	    	    data=eval("("+data+")");
	    		if (data.status == 'OK') {
	    		    _submit(); // submit here...
	    	    } else {
	    	        do_msg_for_reset_password(false, "验证码输入错误，请重新输入！");
	    	    }
	    	});
    	}

    	function main() {
    		check_is_allow_inject_passwd();

    	    $(".modal-footer .btn-primary").on('click', function(){
    	        if (!check_is_allow_inject_passwd()) {
    	        	return false;
    	        }
    	    	proxy_submit(this);
    	    	return false; // prevent submit here...
    	    });
    	}

    	main();
    });

</script>
